spring:
  application:
    name: mybatis-example
  datasource:
    url: jdbc:h2:file:~/.test/mybatis-example-db;
    driver-class-name: org.h2.Driver
    username: admin
    password: admin
  h2:
    console:
      enabled: true
      path: /h2-console

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.david.project.entity
  configuration:
    map-underscore-to-camel-case: true

flyway:
  enabled: true
  locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs