spring:
  application:
    name: logback-example
  datasource:
    url: jdbc:h2:file:~/.test/jpa-example-db;
    driver-class-name: org.h2.Driver
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

flyway:
  enabled: true
  locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: INFO #only output logs of level INFO and above
    com.david.project: DEBUG
  file:
    name: logs/application.log